:root {
  --font-secondary-: "Poppins", sans-serif;
  --font-primary-: "Playfair Display", serif;
  --primary-color-: #bde0fe;
  --secondary-color-: #4361ee;
}
body {
  background-color: #bde0fe;
}
h1 {
  font-family: var(--font-primary-);
  font-weight: bold;
}

p {
  font-family: var(--font-secondary-);
}
h3 {
  text-overflow: ellipsis;
}
.navbar-brand {
  font-family: "Indie Flower", cursive;
}

.navbar {
  background-color: var(--primary-color-);
}

.navbar .navbar-brand,
.nav-link {
  color: var(--secondary-color-) !important;
}
